<% @user.portfolios.each_with_index do |p,i| %>
  <div style="margin-top:8px;border:1px #333 dashed;">
    <div class="control-group" style="margin: 0px;">
      <label class="control-label" for="inputEnname">
        <%= i + 1 %>&nbsp;&nbsp;&nbsp;&nbsp;
        <%= check_box_tag "portfolio[#{p.id}][remove_name]", true, false, :style => "margin-top: -2px;" %>&nbsp;&nbsp;<%= t('admin.delete') %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </label>
      <div class="controls" style="padding-top:5px;">
        <%= link_to 'link', p.name_url %>
      </div>
    </div>
  </div>
<% end %>




<ul id="portfolio" style="margin:0px;list-style-type:none;">
  <li class="portfolio_var" style="margin-top:8px;border:1px #bbb dashed;padding:3px 0">
    <div class="control-group"  style="margin: 0px;">
      <div class="controls">
        <%= file_field_tag 'portfolio_0' %>

<a class="portfolio_add btn btn-info" href="javascript:void(0)"><img src="/assets/add.gif"></a>
  <a class="portfolio_del btn btn-info" href="javascript:void(0)" ><img src="/assets/delete.gif"></a>
      </div>
    </div>
  </li>

</ul>

<script type="text/javascript">
$('#portfolio').addInputArea();
</script>

<br />
<br />

