<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Creek &amp; River</title>
<link href="/assets/style.css" rel="stylesheet" type="text/css" />
<script src="/assets/smartrollover.js" type="text/javascript"></script>
</head>
<body>
  <div class="main">
    <div class="header">
      <p class="logo"><a href="/home/index"><img src="/assets/logo.png" /></a></p>
      <p class="top_img"><img src="/assets/top_img.png" /></p>
    </div>
  </div>
  <form>
    <h1>
  <p>
  <b>email:</b>
  <%= @corporate.email %>
  </p>

  <p>
  <b>firm_net:</b>
  <%= @corporate.firm_net %>
  </p>

  <p>
  <b>firm_scale:</b>
  <%= @corporate.firm_scale %>
  </p>

  <p>
  <b>pinyin:</b>
  <%= @corporate.pinyin%>
  </p>
  <p>
  <b>sign_address: </b>
  <%= @corporate.sign_address%>
  </p>

  <b>hope_work: </b>          
  <%= @corporate.hope_work%>
  </p>             

  <b>seek_status:</b>          
  <%= @corporate.seek_status%>
  </p>             


  <b>contact_address:</b>          
  <%= @corporate.contact_address%>
  </p>             

  <b>firm_name: </b>          
  <%= @corporate.firm_name%>
  </p>             

  <b>firm_tel: </b>          
  <%= @corporate.firm_tel%>
  </p>             

  <b>manager_name: </b>          
  <%= @corporate.manager_name%>
  </p>             

  <b>manager_contact: </b>          
  <%= @corporate.manager_contact%>
  </p>             

  <b>hope_salary: </b>          
  <%= @corporate.hope_salary%>
  </p>             

  <b>expaction_job: </b>          
  <%= @corporate.expaction_job%>
  </p>             

  <b>experience_year: </b>          
  <%= @corporate.experience_year%>
  </p>             

  <b>language_ability: </b>          
  <%= @corporate.language_ability%>
  </p>             


  <b>year_get: </b>          
  <%= @corporate.year_get%>
  </p>             

  <b>certificate: </b>          
  <%= @corporate.certificate%>
  </p>             

  <b>skill: </b>          
  <%= @corporate.skill%>
  </p>             
  <br />


  <%= link_to 'Back', new_corporate_path %>
  <br />
</h1>
</form>
  <p class="clear"></p>
  <div class="footer">
    <p class="footer_link"><a href="/infomation/contact">Contact us</a>&nbsp;&nbsp; |&nbsp;&nbsp; <a href="/infomation/affirms">Privacy Policy</a></p>
    <p class="copyright">COPYRIGHT CREEK&RIVER CO.,LTD. ALL RIGHTS RESERVED.　|　<a href="http://www.miibeian.gov.cn/" target="_blank">沪ICP备10203917号</a></p>
  </div>
</div>
</body>
</html>
